""" Map leader to space ---------------------
let mapleader = " "

""" Common settings -------------------------
set showmode
set scrolloff=5
set incsearch
set number
set rnu
set tabstop=4
set shiftwidth=4

set clipboard+=unnamedplus
set cursorline
set expandtab
set ignorecase
set incsearch
" set matchpairs
set noautoindent
set noswapfile
set nowrap
set signcolumn=yes
set smartcase
set smartindent
set splitbelow
set splitright
set timeoutlen=300
set visualbell
" set whichwrap

""" Plugins  --------------------------------
Plug 'machakann/vim-highlightedyank'
Plug 'easymotion/vim-easymotion'
Plug 'junegunn/vim-easy-align'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'
Plug 'psliwka/vim-smoothie'
" set surround
" set ideaput
" set highlightedyank
" set commentary
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister

""" Plugin settings -------------------------
" let g:argtextobj_pairs="[:],(:),<:>"

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep


""" Mappings --------------------------------
map <C-j> <Plug>(easymotion-s)
map <C-k> <Plug>(easymotion-f)

" No highlight on Escape
nnoremap <Esc> :nohlsearch<CR>

" nnoremap ; : " sucks
nnoremap <leader>w :write<CR>
nnoremap <leader>q :quit<CR>

" better visual mode
vnoremap < <gv
vnoremap > >gv

" Disable Q
nnoremap Q <nop>

" J behaviour (keep cursor)
nnoremap J mzJ`z

" Move selected lines up/down (visual)
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Center after half-page moves
nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz

" Delete word then go back (db mapping replacement)
nnoremap db vb"_d

" Vim like comments
nnoremap gcip vip:action CommentByLineComment<CR>
nnoremap gcap vap:action CommentByLineComment<CR>
nnoremap gcc :action CommentByLineComment<CR>
vnoremap gc :action CommentByLineComment<CR>

" File tree maneuvering
nnoremap <leader>ne :action NewElement<CR>
nnoremap <leader>nc :action NewClass<CR>
nnoremap <leader>nm :action NewModule<CR>

" more better
nnoremap <C-n> <plug>NextWholeOccurrence<CR>
nnoremap <C-p> <plug>PreviousWholeOccurrence<CR>

" Tab navigation
nnoremap <S-h> :action PreviousTab<CR>
nnoremap <S-l> :action NextTab<CR>

" Window navigation (approximations)
nnoremap <A-h> :action PrevSplitter<CR>
nnoremap <A-l> :action NextSplitter<CR>

" hover : quick-java documentation
" nnoremap <silent> K :action QuickJavaDoc<CR>
" nnoremap <silent> gD :action QuickImplementations<CR>
nnoremap <silent> K :action ShowHoverInfo<CR>

" Navigation
nnoremap gr :action RenameElement<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap <leader>gc :action GotoClass<CR>

" Diagnostics
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>


" Run configurations
nnoremap ,r :action ContextRun<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>

" Formatting
nnoremap <leader>lf :action ReformatCode<CR>

" Telescope jugad
nnoremap <leader>fw :action SearchEverywhere<CR>
nnoremap <leader>ff :action GotoFile<CR>


" Terminal
nnoremap <C-\> :action ActivateTerminalToolWindow<CR>

" IDE explorer
nnoremap <leader>E :action ActivateProjectToolWindow

" Extras
nnoremap <leader>tw :set wrap!<CR>

